body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   
}


.texto{
    color: red;
   
}


.text{
    height: 500px;
    background-color: rgb(56, 58, 58);
}

#titulo{
    text-align: center;
    font-size: 30;
}

.topo {
    position: relative;
}

.topo {
    display: flex; 
}

.img, .text {
    width: 49%;
    padding: 20px;
    box-sizing: border-box;
}

.img1{
    width: 400px;
    height: 450px;
    border-radius: 10%;
}

.carro{
    width: 500px;
    height: 400px;
    border-radius: 10%;
}